* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.max-width-wrapper {
  max-width: 100vw;
  padding: 50px 200px;
}

.intro-chunk {
  max-width: 330px;
}

.intro-chunk > * {
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 3rem;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

section {
  background: hsl(0deg, 0%, 40%);
  width: 100%;
  border-top: 8px solid hsl(0deg, 0%, 60%);
}

.card {
  max-width: 630px;
  background: hsl(0deg, 0%, 100%);
  padding: 10px 0px 10px 20px;
  margin-left: -20px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 10px 25px;
  margin-left: -25px;
  margin-top: -5px;
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
}

@media (max-width: 1024px) {
  .max-width-wrapper {
    padding: 50px 30px;
  }

  section.max-width-wrapper {
    padding: 50px 0;
  }

  .card {
    max-width: 100vw;
    margin-left: 0;
    padding-left: 0;
  }

  .indented-heading {
    padding-left: 55px;
  }

  .card > p {
    max-width: 630px;
    padding-left: 30px;
  }
}

@media (max-width: 390px) {
  section.max-width-wrapper {
    padding-bottom: 0;
  }

  .card {
    border-bottom: 0;
    padding-bottom: 0;
    overflow-y: hidden;
  }
}
